.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  #outer
{
    width:100%;
    text-align: center;
    float: left;
}

Link{
  margin-right:200px;
    display: inline-block;
    text-color:azure
}
.inner
{
    margin-right:200px;
    display: inline-block;

}